body {
  background-image: linear-gradient(to  left , #FEECE5, #D0D194);
}
#logo {
  position: fixed;
  left: calc(50vw - calc(10cm*0.5));
  top: calc(50vh - calc(10cm*0.5));
  /*width:20vw;*/
}
#text{
    position:fixed;
    
}